.activity-graph-container {
  height: 450px;
}

.activity-information-container {
  margin-top: 10px;
}

.activity-analytics-file {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 0 0;
}

.activity-field-label {
  color: rgb(106, 106, 106);
  display: block;
  font-weight: 350;
  font-size: 1em;
  text-align: center;
}

.activity-field-value {
  display: block;
  font-weight: 400;
  font-size: 1.2em;
  margin: 10px 0 0 0;
  text-align: center;
}

.activity-null-value {
  margin: 0 auto;
  width: 10%;
}

.empty-graph {
  opacity: 0.5;
}
