.activity-graph-container {
  background-color: rgba(240, 240, 240, 0.8);
  margin: 0 0 10px 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.activity-graph-container text {
  cursor: default;
}

.activity-graph-tooltip {
  background-color: rgba(237, 237, 237, 0.8);
  border: 1px solid rgba(218, 218, 218, 0.8);
  display: block;
  padding: 5px;
}

.activity-graph-tooltip span {
  display: block;
}
